<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.appdemo/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.appdemo.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Customer.browse" caption="msg://com.company.appdemo.screen.customer/customerBrowse.menu"/>
        <item screen="Product.browse" caption="msg://com.company.appdemo.screen.product/productBrowse.menu"/>
        <item screen="ProductCategory.browse"
              caption="msg://com.company.appdemo.screen.productcategory/productCategoryBrowse.menu"/>
        <item screen="ORDER.browse" caption="msg://com.company.appdemo.screen.order/orderBrowse.menu"/>
        <item screen="ORDER_TAB.browse" caption="msg://com.company.appdemo.screen.order_tab/order_TabBrowse.menu"/>
        <item screen="StockItem.browse" caption="msg://com.company.appdemo.screen.stockitem/stockItemBrowse.menu"/>
        <item screen="Orderline.browse" caption="msg://com.company.appdemo.screen.orderline/orderlineBrowse.menu"/>
        <item screen="DocumentCategory.browse"
              caption="msg://com.company.appdemo.screen.documentcategory/documentCategoryBrowse.menu"/>
        <item screen="Calendar_1.browse" caption="msg://com.company.appdemo.screen.calendar/calendar1Browse.menu"/>
        <item screen="Email.browse" caption="msg://com.company.appdemo.screen.email/emailBrowse.menu"/>
    </menu>

</menu-config>